input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #495057;
    font-size: 20px;
    font-weight: 400;
    height: 30px;
    width: 95%;
}

input:focus{
    outline: none;
}

.inp {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #495057;
  }
  .inp svg:hover {
    color: #6c757d;
  }