.navigate {
    margin: 0 1rem;
    height: 5vh;
    display: flex;
    text-align: center;
    padding: 0vw 1vw;
}

.navigate a {
    display: flex;
    gap: 1vw;
    color: black;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navigate:hover {
    background-color: #e9ecef;
    border-radius: 1rem;
}
